<div class="container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/bar">Bar Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/doughnut">Doughnut Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pie">Pie Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/radar">Radar Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/area">Area Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/stats">Stats</a>
        </li>
    </ul>
</div>
<div>
    <router-outlet></router-outlet>
</div>
